.form {
    margin: 5em 5em;
    background-image: radial-gradient(circle, #3A3456, #211E2E);
    padding: 5em 0;
    border-radius: 100px;
}

.form__upper__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__tittle {
    font-size: 2rem;
    font-weight: 700;
}

.form__line {
    background-color: var(--text-color);
    height: 2px;
    width: 50%;
    opacity: 10%;
    margin-block: 2em 1em;
}

.form__subtittle {
    font-size: 2rem;
    font-weight: 300;
    text-transform: capitalize;
}

/* MIDDLE PART, FIRST NAME, LAST NAME, EMAIL, PHONE, ADRESS AND MENSAGE */

.fomr__middle-4 {
    margin-inline: 6em;
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.4em;
}

.fomr__middle-4-input {
    background-color: transparent;
    border: 2px solid var(--text-color);
    padding: 2em;
    width: 49%;
    border-radius: 50px;
    color: var(--text-color);
}

.form__adress-adjust, .form__mensage-adjust {
    width: 100%;
}

.form__mensage-adjust {
    padding-bottom: 13em;
}


.fomr__middle-4-input::placeholder {
    font-family: var(--font-main);
    color: var(--text-color);
    opacity: 50%;
}

/* LAST PART, ONLY BUTTOM */

.form__end-btn {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

/* ONLY HOVER */

.footer__group-link:hover {
    text-decoration: underline;
}

.menu__item-link-btn-purple:hover{
    background-image: none;
    border: 2px solid white;
    color: var(--text-color);
}